{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block page_content %}
<section class="accueil">
<h4>Bienvenue sur le backoffice du Quiz de Persil & Romarin</h4>
<p>Vous pouvez ici gérer les questions, choix des questions, données des utilisateurs et les réponses.</p>
</section>
{% endblock %}